/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
	font-family: arial,sans-serif;
	margin:0px;
	padding:0px;
}
h1{
	text-align:center;
	font-size: 2em;
	font-weight: bold;
	margin-top: 20px;
}
h2{
	text-align:center;
	font-weight: bold;
	margin-top: 15px
}
.play-list{
	background-color: white;
	width: 40%;
	margin:20px auto;
	padding: 15px;
	border: 2px solid black;
	border-radius:5px;
}
ul{
	padding:0;
	margin: 0;
	text-align: left;
}
li{
	list-style-type:none;
	margin: 8px 0;
	font-size: 1.1em;
}

.player-container{
	background-color: rgb(255,255,255);
	width: 60%;
	margin: 20px auto;
	padding: 20px;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
}

video,audio{
	width: 90%;
	border-radius: 10px;
	margin-top: 10px;
}
#p{
	text-align:left;
	font-weight: bold;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: darkred;
	text-decoration: underline;
}
